body{
    background: url("../img/background.jpg") top center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-family:sans-serif ;
    margin: 0;
    padding: 0;
}
/**
Framework
 */
h1{
    text-align: center;
}

.container{
    width: 991px;
    display: flex;
    align-content: center;
    flex-flow: column;
}

.toys-container{
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
}

.toy-content{
    width: 50%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-flow: column;
    align-items: center;
    padding: 20px 0;
}

.formbrand{
    display: flex;
    justify-content: center;
}
.toy-description{
    text-decoration: none;
    text-align: center;
}
.toy-name{
    color:#0056af ;
    font-weight: 600;
    text-decoration: none;
}
.toy-price{
    color: #111;
    font-size: 40px;
    margin: 0;
}


.bold{
    color:#111 ;
    font-weight: bold;
}

/**
HEADER
 */

header{
 width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.logo-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.logo img{
    width: 200px;
    padding-left: 20px;
}

nav{
    background-color: #0056af;
    height: 50px;
    width:95%;
    display: flex;
    position: relative;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
}
nav a:hover{
    color: #0056af;
}

nav>ul{
    padding: 0;
    margin: 0;
    display: flex;
    font-weight: bold;
}

nav>ul li{
    position:relative;
    color: #fff;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    border-right: white 2px dotted;
}

nav>ul li:last-child:hover > ul{
    display: block;
}

nav>ul li:hover{
    color: #0056af;
    background-color: #b9d1f3;
}

.submenu{
    display: none;
    color: #333;
    font-weight: bold;
    padding: 0;
    width: 161px;
    position: absolute;
    top: 96%;
    left: 0%;
    background-color: #b9d1f3;
}
.submenu li{
    border: none;
}
.submenu a{
    color: #222;
    padding: 15px 0;
}

/**
List Page
 */

.pagination{
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.pagination a{
    border: 1px solid black;
    border-radius: 50px;
    color: #111111;
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
}

.pagination a:hover{
    transition: 0.2s;
    color:#0056af;
    background-color: #b9d1f3;
}

/*
Product page
*/

.product-container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.content-container{
    display: flex;

}
.product-left-part{
    width: 40%;
    display: flex;
    flex-flow: column;
}

.product-right-part{
    width: 60%;
    margin-left: 20px;
}
 .product-price{
     color: #111;
     font-size: 50px;
     text-align: center;
     margin-bottom:20px ;
 }

 .content-container form{
     text-align: center;
 }
.content-container form select{
    width: 150px;
}

 .stock-count{
     width: 65%;
     text-align: center;
     color: #0056af;
 }

 .product-brand{
     color: #0056af;
 }

 .error-container{
     display: flex;
     flex-flow: column;
 }

 .error-btn{
     margin: 50px auto 0 auto;
     width: 300px;
     text-align: center;
 }

 .error-btn a{
     padding: 20px;
     border-radius: 6px;
     background: #0056af;
     font-weight: bold;
     text-decoration: none;
     color: #111;
 }

 /**
 Responsive téléphone
  */
@media (max-width: 500px) {

    .container{
        width: 100%;
    }

    .logo-container{
        justify-content: center;
    }

    .logo img{
        width: 300px;
    }

    nav>ul{
        width: 100%;
    }
    nav>ul>li{
        width: 50%;
    }

    nav>ul>li:last-child{
        border:none;
    }

    .submenu{
        width: 216px;
    }
    .submenu li{
        width: 216px;
    }

    .toys-container{
        flex-flow: column wrap;
        height: auto;
        width: 100%;
    }
     .toy-content{
         width: 90%;
     }

     .content-container{
         flex-flow: column;
     }

     .product-left-part{
         width: 90%;
     }
     .product-right-part{
         width: 90%;
     }

    .pagination{
        width: 80%;
    }
}
